@*The model in this view is CheckingAccount Model*@
@model ATM.Models.CheckingAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckingAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*DisplayNameFor return then name of the attribute*@
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @*DisplayFor return then value of the attribute*@
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
